$color--primary: #2D3748;
$color--green: #3182CE;
$color--gradient: linear-gradient(180deg, $color--green 0.05%, #F79EFC 0.06%, #F79EFC 0.07%, #F79EFC 2.6%, rgba(247, 158, 252, 0.357143) 99.95%, rgba(247, 158, 252, 0) 99.96%, #F79EFC 99.97%);
$color--bg1: #353b76;
$color--bg-primary: #D9DADA;
$border--base: 1px solid rgba(0, 0, 0, 0.25);